<section>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <h1 class="text-orange-dark">Discover the Future of Technology!</h1> 
                <h5> Explore our wide range of digital materials designed to enhance your life.</h5>
            </div>
            <div class="col-md-6">
                <img src="bg2.png" style="width: 100%;" alt="Image à droite">
            </div>
        </div>
    </div>
</section>



    